@using EmberTemplateBundles
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
    <body>
        <h1>Ember templates bundles example</h1>
        @RenderBody()
    
    
        @Scripts.Render("~/bundles/lib")
        @Scripts.Render("~/bundles/app")
        @EmberTemplates.Render("~/bundles/templates")
    </body>
</html>
